.content {
    background-color: #ffffff;
}

.content__user {
    display: none;
}

.content__main {
    width: 100%;
    background-color: #ffffff;
}

.content__carousel,
.content__wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.content__carousel {
    height: auto;
    max-height: 794px;
    overflow-x: hidden;
    margin: 0 0 54px 0;
}

.content__wrapper {
    outline: none;
}

.content__recipe-card {
    @include flexGrid(column, $j-content, $a-items, $f-wrap);
    position: relative;
    width: 78.667%;
    min-height: 556px;
    opacity: 0.5;
    background-color: #ffffff;
    margin: 0 10px;
    padding: 37px 0 0 0;
    &.is-selected {
        opacity: 1;
    }
}

.content__recipe-user {
    @include flexGrid(column, flex-start, flex-start, wrap);
    align-content: flex-start;
    position: absolute;
    background-color: rgba(#ffffff, 0.8);
    width: 100%;
    height: 62px;
    top: 37px;
}

.content__recipe-user-info {
    @include flexGrid(row, flex-start, $a-items, wrap);
    width: auto;
    margin: 16px 0 0 10px;
}

.content__recipe-text-block {
    @include flexGrid(row, space-between, $a-items, wrap);
    width: 89.835%;
    min-height: 145px;
    padding: 0 0 0 5%;
}

.content__recipe-headline {
    @include fontOptions (18, 18, $phoneWidth, $tabletWidth, $mainFont_sb, $fontWeight, 32, -0.001em, $textDecoration, $textTransform, $mainBlack);
    margin: 16px 0 0 0;
}

.content__recipe-like {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 18px 0 0 0;
    svg {
        width: inherit;
        height: inherit;
    }
}

.content__recipe-text {
    @include fontOptions (14, 14, $phoneWidth, $tabletWidth, $mainFont, $fontWeight, 22, -0.005em, $textDecoration, $textTransform, $bgGray04);
    margin: 11px 0 0 0;
}

.content__recipe-save {
    @include flexGrid(row, space-between, center, nowrap);
    @include fontOptions (14, 14, $phoneWidth, $tabletWidth, $mainFont, $fontWeight, 18, -0.005em, $textDecoration, $textTransform, $mainGreen);
    align-self: flex-end;
    max-width: 73px;
    width: 27.55%;
    height: 26px;
    background-color: transparent;
    border: solid 1px $mainGreen;
    border-radius: 4px;
    padding: 0 4% 0 3.5%;
    margin: 0 0 0 0;
    svg {
        width: 14px;
        height: 14px;
    }

}

.content__recipe-name,
.content__recipe-surname {
    @include fontOptions (12, 12, $phoneWidth, $tabletWidth, $mainFont, $fontWeight, 15, $letterSpacing, $textDecoration, $textTransform, $mainBlack);
}

.content__recipe-name {
    margin: 0 5px 0 0;
}

.content__recipe-surname {
    margin: 0 0 0 0;
}

.content__recipe-pub-time {
    @include fontOptions (12, 12, $phoneWidth, $tabletWidth, $mainFont, $fontWeight, 12, $letterSpacing, $textDecoration, $textTransform, $bgGray01);
    margin: 2px 0 0 10px;
}

.content__recipe-link {
    width: 100%;
    height: 71.224%;
}

.content__recipe-img {
    width: inherit;
    height: inherit;
}

.swiper-slide-active {
    opacity: 1;
}

.content__online-users {
    @include flexGrid(row, space-between, center, wrap);
    display: none;
    width: 93.490%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 25px 0 21px 0;
}

.content__online-text {
    @include fontOptions (14, 14, $tabletWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $mainBlack);
    margin: 0 0 0 3.5%;
    span {
        margin: 0 3px 0 0;
    }
}

.content__create {
    width: 128px;
    height: 36px;
    padding: 0px;
    margin: 0 3.5% 0 0;
}

.content__activity {
    display: none;
}

@media screen and (min-width: $tabletWidth + px) and (max-width: $tabletBreakPoint + px) {
    .content__main {
        @include flexGrid(column, flex-start, center, wrap);
    }

    .content__online-users {
        display: flex;
    }

    .content__carousel {
        @include flexGrid(column, flex-start, center, wrap);
        height: 704px;
        margin: 0 0 0 0;
    }

    .content__wrapper {
        height: 100%;
        overflow-y: scroll;
        margin: 0 0 0 0;
    }

    .content__recipe-card {
        @include flexGrid(column, flex-start, flex-start, wrap);
        align-content: flex-start;
        width: 718px;
        min-height: 240px;
        height: 240px;
        opacity: 1;
        padding: 0;
        margin: 0 0 29px 0;
    }

    .content__recipe-link {
        width: 240px;
        height: 240px;
        margin: 10px 15px 0 0;
    }

    .content__recipe-user {
        position: relative;
        top: 0;
        width: 20%;
        margin: 9px 0 0 0;
    }

    .content__recipe-user-info {
        margin: 17px 0 0 10px;
    }

    .content__recipe-text-block {
        width: 38.023%;
        min-height: 163px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .content__recipe-headline {
        margin: 1px 0 0 0;
    }

    .content__recipe-like {
        margin: 3px 0 0 0;
    }

    .content__recipe-text {
        letter-spacing: -0.0005em;
        line-height: 157%;
        margin: 0 0 0 0;
    }

    .content__recipe-save {
        margin: 0 0 0 0;
    }

}

@media screen and (min-width: $desktopWidth + px) {

    .content {
        @include flexGrid(row, center, flex-start, wrap);
        background-color: #F2F2F2;
    }

    .content__main {
        @include flexGrid(column, flex-start, center, wrap);
        width: 631px;
        background-color: transparent;
        margin: 25px 20px 0 20px;
    }

    .content__create {
        margin: 0 3.9% 0 0;
    }

    .content__online-users {
        display: flex;
        width: 631px;
    }

    .content__carousel {
        width: inherit;
        max-height: 1558px;
        overflow-y: scroll;
        border-radius: 8px 8px 0 0;
        background-color: #ffffff;
        padding: 24px 0 0 0;
        margin: 0 0 0 0;     
    }

    .content__wrapper {
        @include flexGrid(column, flex-start, center, wrap);
        height: inherit;
        padding: 0 0 0 0;
    }

    .content__recipe-card {
        @include flexGrid(column, flex-start, center, wrap);
        width: 581px;
        min-height: 383px;
        opacity: 1;
        padding: 0 0 0 0;
        margin: 0 0 35px 0;
    }

    .content__recipe-link {
        width: inherit;
        height: 238px;
        overflow: hidden;
    }

    .content__recipe-img {
        width: inherit;
        height: inherit;
        margin: 0 0 0 0;
    }

    .content__recipe-user {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .content__recipe-text-block {
        padding: 0px;
    }

    .content__recipe-save {
        padding: 0 12px;
        &:active {
            color: #ffffff;
            background-color: $mainGreen;

        }

        &:hover,
        &:focus {
            display: flex;
            justify-content: center;
            transition: 0.1s;
            svg {
                display: none;
            }
        }
    }

    .content__user {
        @include flexGrid(column, flex-start, center, wrap);
        margin: 50px 0 0 0;
    }

    .user-card {
        width: 304px;
    }

    .content__activity {
        @include flexGrid(column, flex-start, flex-start, wrap);
        background-color: transparent;
        margin: 50px 0 0 0;
    }

    .content__activity-full,
    .content__activity-small,
    .content__activity-text {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0;
        bottom: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        svg {
            width: inherit;
            height: inherit;
        }
    }
    .content__activity-text {
        @include fontOptions (10, 10, $tabletWidth, $desktopWidth, $mainFont, $fontWeight, 20, 0.05em, $textDecoration, uppercase, #ffffff);
        width: 37.15px;
        height: 20px;
        text-align: center;
        background-color: $sysRed;
        border-radius: 4px;
        left: 10px;
        top: 8px;
        margin: 0;
    }

    .content__activity-full {
        left: 226px;
        top: 4px;
    }

    .content__activity-small {
        left: 196px;
        top: 4px;    
    }

    .content__activity-live {
        @include flexGrid(column, flex-start, flex-start, wrap);
        width: 305px;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 0 0 17px 0;
    }

    .content__activity-headline {
        @include fontOptions (16, 16, $tabletWidth, $desktopWidth, $mainFont_b, $fontWeight, 16, $letterSpacing, $textDecoration, $textTransform, $mainBlack);
        margin: 28px 0 28px 25px;
    }

    .content__activity-video {
        position: relative;
        align-self: center;
    }

    .content__stream {
        width: 255px;
        height: 152px;
        border-radius: 8px;
    }

    .content__activity-top {
        @include flexGrid(row, space-between, flex-start, wrap);
        align-content: flex-start;
        width: 255px;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 0 25px 20px 25px;
        margin: 20px 0 0 0;
    }

    .content__activity-headline--top {
        width: 100%;
        text-transform: capitalize;
        margin: 23px 0 14px 0;
    }

    .content__activity-link {
        width: 40px;
        height: 40px;
        img {
            width: inherit;
            height: inherit;
            border-radius: 50%;
        }
    }

    .content__activity-footer {
        @include flexGrid(row, space-between, flex-start, wrap);
        max-width: 255px;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 26px 25px 25px 25px;
        margin: 20px 0 0 0;
    }

    .content__activity-footer-link,
    .content__activity-footer-copyright {
        @include fontOptions (12, 12, $tabletWidth, $desktopWidth, $mainFont, $fontWeight, 16, 0.05em, $textDecoration, $textTransform, $bgGray01);
    }

    .content__activity-footer-copyright {
        font-size: 10px;
        letter-spacing: 0em;
        margin: 22px 0 0 0;
    }
}