.background {
    min-width: 375px;
    min-height: 812px;
    background-image: url('/src/assets/img/bg-image_mob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 337px;
}