.background {
    min-width: $phoneWidth;
    background-image: url('/src/assets/img/bg-image_mob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 337px;
}

.background--login {
    background-image: url('/src/assets/img/bg-image-login_mob.png');
    background-position: 50% 0;
}

@media screen and (min-width: $tabletWidth + px) and (max-width: $desktopWidth + px) {
    .background {
        background-image: url('/src/assets/img/bg-image_tablet.png');
        background-position: 50% 0;
        height: 100%;
    }
}

@media screen and (min-width: $desktopWidth + px) {
    .background {
        background-image: url('/src/assets/img/bg-image_desktop.png');
        background-position: 50% 0;
    }
}