.popular-recipes {
    @include flexGrid(column, flex-start, flex-start, wrap);
    background-color: #ffffff;
    border-radius: 8px;
    width: 304px;
    padding: 0 0 25px 0;
    margin: 20px 0 0 0;
}

.popular-recipes__headline {
    @include fontOptions (16, 16, $tabletWidth, $desktopWidth, $mainFont_b, $fontWeight, 16, $letterSpacing, $textDecoration, $textTransform, $mainBlack);
    margin: 28px 0 11px 25px;
}

.popular-recipes__link {
    @include fontOptions (14, 14, $tabletWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $fontColor);
    margin: 16px 0 0 25px;
}