.bottom-nav {
    @include flexGrid($f-direction, space-around, center, $f-wrap);
    width: 100%;
    height: 90px;
}

.bottom-nav__search,
.bottom-nav__feed,
.bottom-nav__cook {
    width: 32px;
    height: 32px;

    svg {
        width: inherit;
        height: inherit;
    }
}

.bottom-nav__search {
    margin: 0 0 0 4px;
}

// .bottom-nav__feed {

// }

.bottom-nav__cook {
    margin: 0 4px 0 0;
}

@media screen and (min-width: $tabletWidth + px) and (max-width: $tabletBreakPoint + px) {
    .bottom-nav__search {
        margin: 0 0 0 26%;
    }

    .bottom-nav__cook {
        margin: 0 26.5% 0 0;
    }
}