.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.3s;
    border: solid 2px #ffffff;
    img {
        width: inherit;
        height: inherit;
        border-radius: 50%;
    }
    &:hover,
    &:active,
    &:focus {
        outline: none;
        transition: 0.3s;
        border: solid 2px $mainGreen;
    }
}

.avatar--header {
    display: none;
}

.avatar--recipe-user {
    width: 32px;
    height: 32px;
    margin: 15px 0 15px 5%;
}

@media screen and (min-width: $tabletWidth + px) and (max-width: $tabletBreakPoint + px) {
    .avatar--header {
        order: 5;
        display: flex;
        margin: 0 3.4% 0 0;
    }

    .avatar--recipe-user {
        margin: 15px 0;
    }
}

@media screen and (min-width: $desktopWidth + px) {
    .avatar--header {
        display: flex;
        margin: 1px 5.6% 0 0;
    }

    .avatar--user-card {
        display: flex;
        width: 70px;
        height: 70px;
        margin: 25px 13px 0 0;
    }
}